:root{
      --bg-color: #F4F4F4;
      --title-color: #0C2B4E;
      --text-color: #1A3D64;
      --border-color: #1D546C;
}
*{
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      box-sizing: border-box;
}
body{
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: var(--bg-color);
}
.main{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5rem;

      .card-wrapper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            background-color: #ffffff;
            border: .125rem solid var(--border-color);
            border-radius: 1.25rem;
            height: 32rem;
            width: 20rem;
            align-items: center;
            box-shadow: 0 0 1.5625rem var(--border-color);
            transition: all 0.4s ease-in-out;

            .img-wrapper{
                  outline: .125rem solid var(--border-color);
                  margin: 1rem;
                  border-radius: .625rem;
            }
            .content-wrapper{
                  margin: 2rem 0;
                  .title{
                        font-size: 1.375rem;
                        color: var(--title-color);
                  }
                  .info-text{
                        font-size: .875rem;
                        color: var(--text-color);
                        font-weight: 600;
                  }
                  .read-more , i{
                        font-size: 0.875rem;
                        color: var(--title-color);
                        font-weight: bold;
                        transition: all 0.4s ease-in-out;
                        margin: 1rem 0;
                  }
                  .read-more:hover{
                        color: var(--border-color);
                  }
                  .read-more:hover i{
                        transform: rotate(270deg);
                        color: var(--border-color);
                  }
            }
      }
      .card-wrapper:hover{
            transform: scale(1.025);
            box-shadow: 0 0 1.5625rem var(--title-color);
      }
}
