@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./header.css");
@import url("./footer.css");
@import url("/App/css/todo.css");
@import url("/App/css/documentation.css");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
html{
      font-family: 'Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
--app-txt: #292929;
--app-title: #0073ff;
--first-bg: #85B8FF;
--second-bg: #ffffff;
--card-border: #c9c9c9;
--txt-hvr: #4793fc;
}

.main{
      display: flex;
      height: auto;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .main-title{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--app-title);
        margin: 1rem 0;

        span{
          font-size: clamp(1.625rem, 1.3271rem + 0.9534vw, 2.1875rem);
        }
      }

      .first{
            display: flex;
            width: 100%;
            height: 100vh;
            align-items: center;
            justify-content: center;

            .search-input-label{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
              height: 3.75rem;
              padding: 0 0.75rem;
              transition: all 0.4s ease-in-out;
              border: .0625rem solid #343434;
              font-size: 1.35rem;
              border-radius: .5rem;
              z-index: 50;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              #search-input{
                width: 100%;
                height: 2.5rem;
                border-radius: .5rem;
                border:none;
                outline: none;
                padding: 0 2rem;
                background-color: transparent;
                color: #343434;
              }
            }
            .search-input-label:hover{
              border: .0625rem solid green;
            }
            .card-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10%;
        align-items: center;
        justify-content: center;
        background-color: var(--second-bg);
        padding: 1rem 3rem;
      }
      .card{
        border: .1875rem solid var(--card-border);
        border-radius: 1rem;
        padding: 1rem 2rem;
        transition: all 0.4s ease-in-out;
        gap: 1rem;
        line-height: 1.75;
      }
      .card:hover{
        box-shadow: 0 0 1.5625rem 0 rgba(0, 0, 0, 0.704);
        transform: translateY(-0.625rem);
        border: .1875rem solid green;
      }
      .card .card-title{
        font-size: 2.25rem;
        color: var(--app-title);
        transition: all 0.4s ease-in-out;
      }
      .read-more{
        border: none;
        background-color: transparent;
        font-size: 1.35rem;
        margin: 0 2rem 0 0;
        font-weight: bold;
        color: var(--app-txt);
        transition: all 0.4s ease-in-out;
        text-decoration: none;
        cursor: pointer;
      }
      .card .text{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
        line-height: 1.75;
      }
      .read-more:hover{
        color: var(--txt-hvr);
        text-decoration: underline;
      }
      .link{
        color: var(--app-txt);
        font-size: 1.35rem;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
      }
      .link:hover{
        color: var(--txt-hvr);
        text-decoration: underline;
      }
      .expanded .text{
        -webkit-line-clamp: unset;
        line-clamp: unset;
      }
      }
}
@media screen and (max-width: 48rem) {
      .main{
            .first{
              min-height: 150vh;
                  .search-input-label{
                        width: 90%;
                  }
                  .card-container{
                        grid-template-columns: repeat(1, 1fr);
                  }
            }
      }
}