:root{
--footer-bg: #0E213D;
--footer-txt: #ffffff;
--footer-title: #85B8FF;
--footer-menu: #85B8FF;
--footer-hvr: #85B8FF;
}
.footer{
      background-color: var(--footer-bg);
      bottom: 0;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      && .header-img{
            height: auto;
            width: 9.375rem;
      }
      .social-media{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            && .icon{
                  text-decoration: none;
                  color: var(--footer-txt);
                  font-size: 1.35rem;
                  transition: color 0.4s ease-in-out;

                  i{
                        transition: color 0.4s ease-in-out;
                  }
            }
            .reddit:hover i{
                  color: orangered;
            }
            .x:hover i{
                  color: #434343;
            }
            .instagram:hover i{
                  color: #C13584;
            }
            .youtube:hover i{
                  color: red;
            }
            .github:hover i{
                  color: #434343;
            }
      }
      .navbar{
            display: flex;
            gap: 3rem;

            && .footer-links{
                  list-style: none;
                  line-height: 1.8;

                  && li{
                        && a{
                              text-decoration: none;
                              color: var(--footer-txt);
                              font-weight: 600;
                              transition: color 0.4s ease-in-out;
                        }
                        && a:hover{
                              color: var(--footer-hvr);
                        }
                  }
            }
      }     
      .footer-text{
            color: var(--footer-txt);
            font-weight: bold;
      }
}

@media screen and (max-width: 64rem){
      .footer{
            flex-direction: column;
            gap: 1rem;

            && .header-img{
                  width: 7.8125rem;
            }
            .navbar{
                  gap: 1rem;
            }
      }
}