:root{
--header-bg: #0E213D;
--header-txt: #ffffff;
--header-title: #85B8FF;
--header-menu: #85B8FF;
--header-hvr: #85B8FF;
--header-btn: #68BD66;
--header-btn-hvr: #7ddd7b;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  gap: 5%;
  padding: 0 1rem;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--header-bg);

     && .header-head{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            height: auto;
            width: auto;

           && .header-img{
                  height: auto;
                  width: 7.8125rem;
           }
      }
      .navbar{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;

            && .nav-links{
                  display: flex;
                  list-style: none;
                  gap: 1rem;

                  && li{
                        && a{
                              text-decoration: none;
                              color: var(--header-txt);
                              font-weight: 600;
                              font-size: 1.25rem;
                              transition: color 0.4s ease-in-out;

                              &:hover{
                                    color: var(--header-hvr);
                              }
                        }
                  }
            }
            .user{
                  font-size: 1.75rem;
                  color: var(--header-txt);
                  transition: color 0.4s ease-in-out;
            }
            .market:hover{
                  color: var(--header-hvr);
            }
            .account:hover{
                  color: #434343;
            }
            .login-btn{
                  border: 1px solid var(--header-txt);
                  background-color: var(--header-btn);
                  color: var(--header-txt);
                  padding: .1875rem .4375rem;
                  text-decoration: none;
                  font-weight: 600;
                  transition: all 0.4s ease-in-out;
            }
            .login-btn:hover{
                  background-color: var(--header-btn-hvr);
            }
      }
      .search-label{
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            border-radius: 0.25rem;
            border: .125rem solid var(--header-txt);

            #search-input{
                  width: 100%;
                  color: white;
                  padding: .1875rem 0.5rem;
                  border: .0625rem solid transparent;
                  background-color: transparent;
            }
            #search-input:focus{
                  outline: none;
            }
            #search-icon{
                  font-size: 1.25rem;
                  padding: .3125rem;
                  background-color: transparent;
                  color: var(--header-txt);
                  cursor: pointer;
                  transition: color 0.4s ease-in-out;
            }
            #search-icon:hover{
                  color: var(--header-hvr);
            }
      }
      .search-label:hover{
            border: .125rem solid var(--header-btn);
      }
      #menu-icon{
            font-size: 2rem;
            color: var(--header-txt);
            cursor: pointer;
            transition: color 0.4s ease-in-out;
            display: none;
      }
      #menu-icon:hover{
            color: var(--header-hvr);
      }
}

@media screen and (max-width: 64rem) {
      .header{
            padding: 0 2rem;
            .navbar{
                  position: absolute;
                  display: flex;
                  top: 100%;
                  background-color: var(--header-bg);
                  width: 100%;
                  left: 0;
                  flex-direction: column;
                  padding: 1rem 0;
                  gap: 1rem;
                  transition: all 0.4s ease-in-out;
                  opacity: 0;
                  pointer-events: none;
                  transform: translateY(-150%);
                  && .nav-links{
                        flex-direction: column;
                  }
            }
            #menu-icon{
                  display: block;
            }
            .navbar.active{
            position: absolute;
            display: flex;
            width: 100%;
            flex-direction: column;
            transition: all 0.4s ease-in-out;
            gap: 1rem;
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
            top: 100%;
            left: 0;
            background-color: var(--header-bg);
            padding: 1rem 0;

                .nav-links{
                  flex-direction: column;
                }
            }
      }
}