:root{
--todo-txt: #343434;
--todo-btn: #0E213D;
--todo-btn-txt: #ffffff;
--todo-icon-hvr: red;
--todo-outline: #949494;
--todo-title: #0E213D;
}
.todo-main{
      min-height: 100vh;
      height: auto;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 2rem 1rem;

      .todo-title{
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--todo-title);
            font-size: 2.25rem;
      }
      .todo-form{
            display: flex;
            width: 50%;
            justify-content: space-between;
            border: 2px solid var(--todo-outline);
            transition: all 0.4s ease-in-out;
            border-radius: 0.35rem;
            padding: 0.4rem;

            #todo-input{
                  width: 100%;
                  border: none;
                  border-radius: 0.35rem;
                  transition: all 0.4s ease-in-out;
                  color: var(--todo-txt);
                  outline: none;
            }
            #todo-btn{
                  border: none;
                  background-color: var(--todo-btn);
                  color: var(--todo-btn-txt);
                  border-radius: 0.35rem;
                  padding: 0.75rem;
                  cursor: pointer;
                  width: 5rem;
                  transition: all 0.4s ease-in-out;
            }
            #todo-btn:hover{
                  background-color: green;
            }
      }
      .todo-form:hover, .todo-form:focus-within{
            border: 2px solid green;
      }
      #todo-ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 45%;

            .todoLi{   
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  padding: 0.5rem;
                  gap: 1rem;
                  overflow: auto;
                  border: .125rem solid var(--todo-outline);
                  border-radius: 0.35rem;
                  color: var(--todo-txt);
                  font-size: 1.25rem;
                  transition: all 0.4s ease-in-out;

                  .custom-checkbox{
                        border: 2px solid var(--todo-outline);
                        border-radius: 50%;
                        min-height: 20px;
                        min-width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: all 0.4s ease-in-out;
                        flex-shrink: 0;
                  }
                  input[type="checkbox"]{
                        display: none;
                  }
                  input[type="checkbox"]:checked + .custom-checkbox{
                        border: 2px solid var(--todo-btn);
                        background-color: var(--todo-btn);
                  }
                  input[type="checkbox"]:checked + .custom-checkbox i{
                        color: var(--todo-btn-txt);
                  }
                  input[type="checkbox"]:checked ~ .todo-text span{
                        text-decoration: line-through;
                        color: var(--todo-btn);
                  }
                  .dlt-btn{
                        border: none;
                        background-color: transparent;
                        color: var(--todo-btn);
                        transition: all 0.4s ease-in-out;
                        cursor: pointer;
                        width: fit-content;
                        height: fit-content;
                        font-size: 1.45rem;
                  }
                  .dlt-btn:hover{
                        color: var(--todo-icon-hvr);
                  }
            }
            .todo:hover{
                  border: 0.125rem solid green;
                  transform: translateY(-0.3125rem);
            }
      }
}

@media screen and (max-width: 48rem) {
      .todo-main{
            .todo-form{
                  width: 100%;
            }
            #todo-ul{
                  width: 100%;
            }
      }
}