*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 100vh;
}
.dropdown{
      position: relative;
      height: 2.8125rem;
      width: 14.0625rem;
      .dropdown-btn{
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 14.0625rem;
            justify-content: space-between;
            padding: .3125rem .875rem;
            font-size: 1.1rem;
            font-weight: 600;
            color: darkblue;
            border: .0625rem solid darkblue;
            border-radius: .3125rem;
            background-color: white;
            transition: all 0.4s ease-in-out;
            box-shadow: 0 0 1.5625rem rgb(164, 164, 198);

            .caret-up{
                  transition: 0.4s ease-in-out;
            }
      }
      .dropdown-btn:hover{
            color: rgb(86, 86, 150);
      }
      .dropdown-content{
            display: none;
            flex-direction: column;
            position: absolute;
            list-style-type: none;
            margin-top: 0.3rem;
            width: 14.0625rem;
            background-color: white;
            border: .0625rem solid darkblue;
            border-radius: .3125rem;

            li{
                  padding: 0.3rem 0.3rem;

                  a{
                        padding: 0 0.3rem;
                        transition: all 0.4s ease-in-out;
                        text-decoration: none;
                        height: 1.875rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: darkblue;
                        border-radius: .3125rem;
                  }
                  a:hover{
                        background-color: rgb(57, 57, 97);
                        color: white;
                  }
            }
      }
}
.dropdown:hover{
      .dropdown-content{
            display: flex;
      }
      .dropdown-btn{
            .caret-up{
                  transform: rotate(180deg);
            }
      }
}