*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 100vh;
}

.dropdown{
      position: relative;
      font-size: 1.2rem;
      background-color: white;
      border: 2px solid darkblue;
      border-radius: .3125rem;
      padding: 5px 1.375rem;
      cursor: pointer;
      width: 21.875rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-in-out;
      color: rgb(55, 55, 55);

      .dropdown-content{
            top: 125%;
            visibility: hidden;
            position: absolute;
            min-width: 100%;
            min-height: 195px;
            left: 0;
            background-color: white;
            border: 2px solid darkblue;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            border-radius: .3125rem;
            a{
                  border-radius: .3125rem;
                  display: inline-block;
                  padding: 7px 12px;
                  width: 100%;
                  height: 100%;
                  color: rgb(55, 55, 55);;
                  text-decoration: none;
            }

            a:hover{
                  color: darkblue;

            }
      }
}
.dropdown:hover{
      color: darkblue;
      .dropdown-content{
            visibility: visible;
      }
      .fa-caret-up{
            transform: rotate(180deg);
      }
}