:root{
      --bg-color: #ffffff;
      --text-color: #000000;
      --main-color: #6c6c6cff;
}

.footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: transparent;
      height: 7.125rem;

      .navigation-wrapper{
            display: flex;
            list-style-type: none;
            li{
                  margin: 0 0.5rem;
                  a{
                        color: var(--text-color);
                        transition: color 0.4s ease-in-out;                  }
                  a:hover{
                        color: var(--main-color);
                  }
            }
      }

      .social-media-icons{
        margin: 1rem;
        display: flex;
        list-style-type: none;
        li{
          margin: 0 0.25rem;
          .social-media{
            font-size: 1.3rem;
            color: var(--main-color);
            transition: color 0.4s ease-in-out;
          }
          .youtube:hover{
            color: red;
          }
          .reddit:hover{
            color: orangered;
          }
          .github:hover{
            color: black;
          }
          .linkedin:hover{
            color: #0077B5;
          }
        }
      }

      span{
            color: var(--main-color);
            font-weight: bold;
      }
}