:root{
      --bg-color: #ffffff;
      --text-color: #000000;
      --main-color: #6c6c6cff;
}

.header{
      display: flex;
      height: 6.25rem;
      width: 100%;
      position: fixed;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;    
      top: 0;
      left: 0;
      background-color: var(--bg-color);
      box-shadow: 0 0 1.5625rem var(--main-color);

      .main-title{
            color: var(--text-color);
            transition: all 0.4s ease-in-out;
            cursor: pointer;
      }
      .main-title:hover{
            color: var(--main-color);
      }
      #menu-icon{
            font-size: 1.7rem;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            display: none;
      }
      #menu-icon:hover{
            color: var(--main-color );
      }
      .navbar{
            display: flex;
            list-style-type: none;
            li{
                  margin: 0 0.5rem;
                  a{
                        font-size: 1rem;
                        color: var(--text-color);
                        transition: all 0.4s ease-in-out;
                        i{
                              transition: 0.4s ease-in-out;
                        }
                  }
                  a:hover{
                        color: var(--main-color);
                  }
            }
            .dropdown{
                  position: relative;
                  .dropdown-content{
                        position: absolute;
                        z-index: 6;
                        top: 5rem;
                        background-color: var(--bg-color);
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        right: -4.5rem;
                        width: 13rem;
                        line-height: 3;
                        height: 15.7rem;
                        transition: all 0.5s ease-in-out;
                        transform: translateY(-200%);
                        border: .125rem solid var(--main-color);
                        border-radius: .3125rem;
                        a{
                              display: inline-block;
                              border: .0625rem solid var(--main-color);
                              text-decoration: none;
                        }
                  }
            }
            .dropdown:hover .dropdown-content{
                  opacity: 1;
                  transform: translateY(-20%);
                        a{
                             color: var(--text-color);
                             text-decoration: none;
                        }
                        a:hover{
                              color: var(--bg-color);
                              background-color: var(--main-color);
                        }
                  
            }
            .dropdown:hover{
                  a:hover{
                        color: var(--main-color);
                        .fa-caret-up{
                              transform: rotate(180deg);
                        }
                  }
            }
      }
}
@media screen and (max-width: 56rem) {
      .header{
            #menu-icon{
                  display: flex;
            }
            .navbar{
                  display: none;
            }
      }
}