:root{
--bg-color: #E0D9D9;
--header-color: #2F5755;
--header-text: #DC143C;
--footer-text: #6B3F69;
--main-color: #000B58;
--second-color: #344F1F;
--third-color: #006A67; 


--text-preset-1: font-size: clamp(1.5rem, -0.7031rem + 6.25vw, 2.8125rem);
--text-preset-2: font-size: clamp(1.125rem, -0.75rem + 6vw, 2.625rem);
--text-preset-3: font-size: clamp(1rem, -0.7188rem + 5.5vw, 2.375rem);
--text-preset-4: font-size: clamp(1rem, 0.375rem + 2vw, 1rem);
}

.header{
      display: flex;
      width: 100%;
      height: 7.8125rem;
      justify-content: space-between;
      align-items: center;
      background-color: var(--header-color);
      position: fixed;

      .title{
            font-size: clamp(2rem, -0.7031rem + 6.25vw, 2.5125rem);
            color: var(--header-text);
            transition: all 0.4s ease-in-out;
      }
      .title:hover{
            color: var(--bg-color);
      }
      #menu-icon{
            font-size: 1.8rem;
            transition: all 0.4s ease-in-out;
            color: var(--header-text);
            cursor: pointer;
            display: none;
      }
      #menu-icon:hover{
            color: var(--bg-color);
      }
      ul{
            display: flex;
            list-style-type: none;
            li{
                  margin: 0 0.5rem;
                        
                  a{
                       font-size: clamp(1rem, 0.375rem + 2vw, 1.1rem);
                       text-decoration: none;
                       color: var(--header-text);
                       transition: all 0.4s ease-in-out;
                       font-weight: 600;
                  }
                  a:hover{
                        color: var(--bg-color);
                  }
            }
      }
      .personal-info{
            display: flex;
            margin: 0 1rem;
            align-items: center;
            a{
                  font-size: 1.25rem;
            }
            .start-btn{
                  border: .125rem solid var(--header-text);
                  background-color: var(--bg-color);
                  border-radius: .3125rem;
                  transition: 0.4s ease-in-out;
                  box-shadow: 0 0 .9375rem var(--header-text);
                  margin: 0 1rem;
                  padding: .4rem ;
                  cursor: pointer;
                  a{
                        text-decoration: none;
                        color: var(--header-text);
                        transition: all 0.4s ease-in-out;
                        font-weight: 700;
                  }
            }
            .start-btn:hover{
                  background-color: var(--header-text);
                        a{
                              color: var(--bg-color);
                        }
            }
      }
}
@media screen and (max-width: 896px){
      .header{
            .navbar{
            display: none;
      }
      #menu-icon{
            display: flex;
            align-items: center;
      }
      }
}