*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
      height: 100vh;
}
.dropdown-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .dropdown{
            position: relative;
            background-color: white;
            color: rgb(27, 27, 27);
            font-weight: 600;
            padding: .5rem .75rem;
            box-shadow: 0 0 .9375rem black;
            border: .0625rem solid black;
            transition: color 0.4s ease-in-out;
            font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
            border-radius: .3125rem;
            cursor: pointer;

            .caret-up{
                  transition: all 0.4s ease-in-out;
            }

            .dropdown-content{
                  display: none;
                  min-width: 14.0625rem;
                  background-color: white;
                  position: absolute;
                  border: .0625rem solid black;
                  border-radius: .3125rem;
                  top: 100%;
                  height: 8rem;
                  left: -18%;
                  box-shadow: 0 0 .9375rem black;
                  
                  a{
                        display: inline-block;
                        line-height: 2;
                        text-decoration: none;
                        color: black;
                        transition: color 0.4s ease-in-out;
                        font-size: clamp(0.75rem, 0.125rem + 2vw, 1rem);
                  }
                  a:hover{
                        color: rgb(72, 72, 72);
                  }
            }
      }
      .dropdown:hover{
            color: white;
            background-color: rgb(27, 27, 27);

            .caret-up{
                  transform: rotate(180deg);
            }
            .dropdown-content{
                  display: block;
            }
      }
}