*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}
.dropdown{
      position: relative;
      min-width: 8rem;
      height: 2.8125rem;

      .btn{
            border: .0625rem solid white;
            background-color: rgb(84, 84, 84);
            color: rgb(227, 227, 227);
            font-weight: 500;
            font-size: 1.2rem;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            padding: .4375rem .9375rem;
            border-radius: .3125rem;
            box-shadow: 0 0 1.25rem rgb(78, 78, 78);

            .caret-up{
                  transition: 0.3s ease-in-out;
            }
      }
      .btn:hover{
            color: rgb(168, 168, 168);
      }
      .dropdown-content{
            position: absolute;
            margin-top: 0.2rem;
            min-width: 9.25rem;
            display: none;
            transition: all 0.5s ease-in-out;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            border-radius: .3125rem;
            border: .0625rem solid black;
            background-color: rgb(84, 84, 84);
            box-shadow: 0 0 1.5625rem rgb(84, 84, 84);
            z-index: 100;

            li{
                  padding: 0.2rem 0;
                  a{
                        display: inline-block;
                        width: 9.25rem;
                        text-align: center;
                        height: 1.75rem;
                        text-decoration: none;
                        border-radius: .3125rem;
                        color: rgb(227, 227, 227);
                        transition: all 0.4s ease-in-out;
                  }
                  a:hover{
                        color: rgb(78, 78, 78);
                        background-color: rgb(153, 153, 153);
                  }
            }
      }
}
.dropdown:hover{
      .dropdown-content{
            display: flex;
      }
      .btn{
            .caret-up{
                  transform: rotate(180deg);
            }
      }
}
