.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6.25rem;
      background-color: var(--main-bg);
      width: 100%;
      position: fixed;
      padding: 0 2rem;
      top: 0;
      z-index: 99;

      .header-title{
            font-size: 2.2rem;
            color: var(--main-clr);
            transition: all 0.4s ease-in-out;
            cursor: pointer;
      }
      .header-title:hover{
            color: var(--main-hvr);
      }
      #menu-icon{
            font-size: 1.8rem;
            color: var(--main-clr);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            display: none;
      }
      #menu-icon:hover{
            color: var(--main-hvr);
      }
      .documents{
            a{
                  font-size: 2rem;
                  color: var(--main-clr);
                  transition: color 0.4s ease-in-out;

            }
            a:hover{
                  color: var(--main-hvr);
            }
      }
      nav{
            .navbar{
                  display: flex;
                  gap: 1rem;
                  list-style-type: none;
                  li{
                        a{
                              font-size: 1rem;
                              color: var(--main-clr);
                              transition: all 0.4s ease-in-out;
                              text-decoration: none;
                              .fa-caret-up{
                                    transition: all 0.4s ease-in-out;
                                    margin-left: .3125rem;
                              }
                        }
                        a:hover{
                              color: var(--main-hvr);
                        }
                  }
                  .dropdown{
                        position: relative;
                        height: 1.8rem;
                        .dropdown-content{
                              position: absolute;
                              display: inline-block;
                              width: 9.375rem;
                              background-color: var(--main-bg);
                              top: -800%;
                              transform: translateY(-50%);
                              left: 50%;
                              transform: translateX(-50%);
                              text-align: center;
                              border: 2px solid var(--main-bg);
                              border-radius: .3125rem;
                              opacity: 0;
                              transition: all 0.5s ease-in-out;
                              box-shadow: 0 0 1.25rem var(--main-hvr);
                              a{
                                    line-height: 2.5;
                                    font-size: 1.2rem;
                                    color: var(--main-clr);
                                    transition: all 0.4s ease-in-out;
                              }
                              a:hover{
                                    color: var(--main-hvr);
                              }
                        }
                  }
                  .dropdown:hover{
                        .dropdown-content{
                              opacity: 1;
                              top: 100%;
                        }
                        .dropdown-btn{
                              color: var(--main-hvr);
                              .fa-caret-up{
                                    transform: rotate(180deg);
                              }
                        }
                  }
            }
      }
}

@media screen and (max-width: 56rem){
      .header{
            nav{
                  display: none;
            }
            #menu-icon{
                  display: block;
            }
      }

}