:root{
--bg-color: #E0D9D9;
--header-color: #19306b;
--header-text: #a486f3;
--footer-color: #211d54;
--footer-text: #9981f8;
--main-color: #5566e4;
--second-color: #8a8cf5;
--third-color: #0d304e; 
}

.darkmode{
--bg-color: #000000;
--header-color: #070a12;
--header-text: #a995da;
--footer-color: #07061b;
--footer-text: #3510c9;
--main-color: #939ef4;
--second-color: #2e2f6c;
--third-color: #91aed2;
}

.footer{
      bottom: 0;
      display: flex;
      height: 8.240rem;
      flex-direction: column;
      background-color: var(--footer-color);

      .social-icons{      
            margin: 1rem 0;
            ul{
                  list-style-type: none;
                  justify-content: center;
                  display: flex;
                  li{
                        margin: 0 .3125rem;
                        .social-icon{
                              color: var(--main-color);
                              transition: all 0.4s ease-in-out;
                              font-size: 1.3rem;
                        }
                        .youtube:hover{
                              color: red;
                        }
                        .linkedin:hover{
                              color: rgb(23, 121, 197);
                        }
                        .github:hover{
                              color: black;
                        }
                  }
            }
      }
      ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            li{
                  line-height: 2rem;
                  margin: 0 0.8750rem;
                  a{
                        text-decoration: none;
                        color: var(--main-color);
                        font-weight: 600;
                        transition: all 0.4s ease-in-out;
                  }
                  a:hover{
                        color: var(--footer-text);
                  }
            }
      }
      p{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: var(--main-color);
      }
}