:root{
--bg-color: #E0D9D9;
--header-color: #19306b;
--header-text: #a486f3;
--footer-color: #211d54;
--footer-text: #9981f8;
--main-color: #5566e4;
--second-color: #8a8cf5;
--third-color: #0d304e; 
}

.darkmode{
--bg-color: #000000;
--header-color: #070a12;
--header-text: #a995da;
--footer-color: #07061b;
--footer-text: #3510c9;
--main-color: #939ef4;
--second-color: #2e2f6c;
--third-color: #91aed2;
}

.header{
      display: flex;
      width: 100%;
      height: 7.8125rem;
      justify-content: space-between;
      align-items: center;
      background-color: var(--header-color);
      position: fixed;

      .title{
            font-size: clamp(2rem, -0.7031rem + 6.25vw, 2.5125rem);
            color: var(--main-color);
            transition: all 0.4s ease-in-out;
      }
      .title:hover{
            color: var(--footer-text);
      }
      #menu-icon{
            font-size: 1.8rem;
            transition: all 0.4s ease-in-out;
            color: var(--main-color);
            cursor: pointer;
            display: none;
      }
      #menu-icon:hover{
            color: var(--bg-color);
      }
      ul{
            display: flex;
            list-style-type: none;
            li{
                  margin: 0 0.5rem;
                        
                  a{
                       font-size: clamp(1rem, 0.375rem + 2vw, 1.1rem);
                       text-decoration: none;
                       color: var(--main-color);
                       transition: all 0.4s ease-in-out;
                       font-weight: 600;
                  }
                  a:hover{
                        color: var(--footer-text);
                  }
            }
      }
      .personal-info{
            display: flex;
            margin: 0 1rem;
            align-items: center;
      
            }
            li{
                  margin: 0 0.125rem;
            }
            a{
                  font-size: 1.3rem;
            }
            .start-btn{
                  border: 0.125rem solid var(--main-color);
                  background-color: var(--bg-color);
                  border-radius: .3125rem;
                  transition: 0.4s ease-in-out;
                  font-size: 1.3rem;
                  box-shadow: 0 0 .9375rem var(--main-color);
                  margin: 0 0.125rem;
                  padding: .4rem ;
                  cursor: pointer;
                  a{
                        text-decoration: none;
                        color: var(--main-color);
                        transition: all 0.4s ease-in-out;
                        font-weight: 700;
                  }
            }
            .start-btn:hover{
                  background-color: var(--footer-text);
                        a{
                              color: var(--bg-color);
                        }
            }
      }
@media screen and (max-width: 896px){
      .header{
            .navbar{
            display: none;
      }
      #menu-icon{
            display: flex;
            align-items: center;
      }
      }
}