@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      height: 100vh;
      gap: 1rem;
      background-color: rgb(88, 146, 232);
      font-family: 'Cookie', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#counter{
      font-size: 3rem;
}
#cps{
      font-size: 1.5rem;
}
#cookie{
      border: none;
      background-color: transparent;
      cursor: pointer;
      img{
            width: 20rem;
      }
}
.shop{
      width: 25rem;
      border-radius: .5rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      gap: 1rem;
      .btn{
            border: 2px solid black;
            font-size: 1.5rem;
            width: auto;
            padding: .3125rem .4375rem;
            border-radius: .5rem;
            font-family: 'Cookie', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            cursor: pointer;
            background-color: transparent;
            color: #353535;
            transition: all 0.4s ease-in-out;
            &:hover{
                  background-color: #353535;
                  color: white;
            }
      }
}