@import url(./CSS/header.css);
@import url(.//CSS/footer.css);

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
   font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root{
      --website-bg: #ffffff;
      --main-bg: #232338ff;
      --main-clr: #ffffffff;
      --main-hvr: #4747baff;
      --component-bg: rgb(195, 195, 213);
}
.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100vh;
  justify-content: center;

  .section{
    padding: 8rem 1rem;
  }
  .card-content{
    h2{
      font-size: 2rem;
      color: var(--main-bg);
      transition: color 0.4s ease-in-out;
      width: fit-content;
      height: fit-content;
    }
    h2:hover{
      color: var(--main-hvr);
    }
    h3{
      font-size: 2.5rem;
      color: var(--main-hvr);
      width: fit-content;
      height: fit-content;
      transition: color 0.4s ease-in-out;
    }
    h3:hover{
      color: var(--main-bg);
    }
    .text-content{
      width: fit-content;
      margin: 0.5rem 0;
      a{
        font-size: 1.8rem;
        color: var(--main-hvr);
        text-decoration: none;
        transition: color 0.4s ease-in-out;

        span{
          color: var(--main-bg);
          font-weight: bold;
          transition: color 0.4s ease-in-out;
          border-bottom: .125rem solid transparent;
        }
      }
      a:hover{
        color: var(--main-bg);
        span{
          color: var(--main-hvr);
          border-bottom: .125rem solid var(--main-hvr);
        }
      }
    }
    .write{
      color: var(--main-bg);
      font-size: 1.25rem;
    }
    .social-media-icons{
      margin: 1rem 0;
      .social-icon{
        font-size: 1.45rem;
        color: var(--main-hvr);
        transition: color 0.4s ease-in-out;
      }
      .youtube:hover{
        color: red;
      }
      .twitter:hover{
        color: black;
      }
      .linkedin:hover{
        color: #0a66c2;
      }
      .github:hover{
        color: black;
      }
    }
    .content-btn{
      border: .125rem solid var(--main-bg);
      padding: .375rem 1rem;
      border-radius: .3125rem;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      a{
        text-decoration: none;
        color: var(--main-bg);
        font-weight: 600;
        transition: color 0.4s ease-in-out;
      }
    }
    .content-btn:hover{
      background-color: var(--main-bg);
      box-shadow: 0 0 1.5625rem var(--main-hvr);
      a{
        color: var(--main-clr);
      }
    }
  }
  .portfolio-component{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .content-btn{
      border: .125rem solid var(--main-bg);
      padding: .375rem 1rem;
      border-radius: .3125rem;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      a{
        text-decoration: none;
        color: var(--main-bg);
        font-weight: 600;
        transition: color 0.4s ease-in-out;
      }
    }
    .content-btn:hover{
      background-color: var(--main-bg);
      box-shadow: 0 0 1.5625rem var(--main-hvr);
      a{
        color: var(--main-clr);
      }
    }
  }
}
@media screen and (max-width: 56rem){
      .main{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .card-content{
                  padding-top: 7rem 1rem;
                  h2{
                    font-size: 1rem;
                  }
                  h3{
                    font-size: 2rem;
                  }
                  .container{
                    font-size: 1rem;
                  }
                  .write{
                    font-size: 0.95rem;
                  }
            }
            .portfolio-component{
              .portfolio-img{
                width: fit-content;
                height: fit-content;
              }
            }
      }
  
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track {
    background-color: var(--main-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-hvr);
  border-radius: 0.25rem;
}